src/main/resources/wsdl/lobby.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="https://medium.com/article" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://medium.com/article" targetNamespace="https://medium.com/article">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="https://medium.com/article">

            <xsd:element name="SendSmsRequest">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="message" type="tns:body"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>

            <xsd:complexType name="body">
                <xsd:sequence>
                    <xsd:element name="submit" type="tns:form"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="form">
                <xsd:sequence>
                    <xsd:element name="da" type="tns:contact"/>
                    <xsd:element name="oa" type="tns:sender"/>
                    <xsd:element name="ud" type="xsd:string"/>
                    <xsd:element name="dcs" type="tns:communication"/>
                    <xsd:element name="statusrequest" type="tns:blank" default=""/>
                    <xsd:element name="from" type="tns:client"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="contact">
                <xsd:sequence>
                    <xsd:element name="number" type="xsd:int"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="sender">
                <xsd:sequence>
                    <xsd:element name="number" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="communication">
                <xsd:sequence>
                    <xsd:element name="mclass" type="xsd:int" default="1"/>
                    <xsd:element name="coding" type="xsd:int" default="0"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="blank">
            </xsd:complexType>

            <xsd:complexType name="client">
                <xsd:sequence>
                    <xsd:element name="from" type="tns:wrapper"/>
                    <xsd:element name="to" type="xsd:string" default="Testnorth"/>
                </xsd:sequence>
            </xsd:complexType>

            <xsd:complexType name="wrapper">
                <xsd:sequence>
                    <xsd:element name="username" type="xsd:string"/>
                    <xsd:element name="password" type="xsd:string"/>
                    <xsd:element name="account" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>


            <xsd:element name="SendSmsResponse">
            </xsd:element>

        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="SendSmsResponse">
        <wsdl:part element="tns:SendSmsResponse" name="SendSmsResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="SendSmsRequest">
        <wsdl:part element="tns:SendSmsRequest" name="SendSmsRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="LobbyPort">
        <wsdl:operation name="sendSms">
            <wsdl:input message="tns:SendSmsRequest" name="SendSmsRequest">
            </wsdl:input>
            <wsdl:output message="tns:SendSmsResponse" name="SendSmsResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="LobbyPortSoap" type="tns:LobbyPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="sendSms">
            <soap:operation soapAction=""/>
            <wsdl:input name="SendSmsRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="SendSmsResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="LobbyPortService">
        <wsdl:port binding="tns:LobbyPortSoap" name="LobbyPortSoap">
            <soap:address location="https://lobby.airtel.in/cgi-bin/sendsms"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>